@model CVApp.ViewModels.Work.WorkViewModels.WorkEditViewModel

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
            <h2> Edit Work</h2>
            <hr />
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-element">
                    <div class="form-group">
                        <label asp-for="@Model.Company" class="font-weight-bold text-secondary"></label>
                        <input asp-for="@Model.Company" class="form-control" value="@Model.Company">
                        <span asp-validation-for="@Model.Company" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Title" class="font-weight-bold text-secondary"></label>
                        <input asp-for="@Model.Title" class="form-control" value="@Model.Title">
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <!--DatePicker from Tempus Dominus-->
                        <div class='col-md-6'>
                            <div class="form-group">
                                <label asp-for="@Model.StartDate" class="font-weight-bold text-secondary"></label>
                                <div class="input-group date" id="datetimepickerMonthYears1" data-target-input="nearest">
                                    <input asp-for="@Model.StartDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepickerMonthYears1" value="@Model.StartDate.ToString("MM/yyyy")" />
                                    <div class="input-group-append" data-target="#datetimepickerMonthYears1" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                                <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <div class="form-group">
                                <label asp-for="@Model.EndDate" class="font-weight-bold text-secondary"></label>
                                <div class="input-group date" id="datetimepickerMonthYears2" data-target-input="nearest">
                                    <input asp-for="@Model.EndDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepickerMonthYears2" value=@(Model.EndDate.HasValue ? Model.EndDate.Value.ToString("MM/yyyy") : string.Empty) />
                                    <div class="input-group-append" data-target="#datetimepickerMonthYears2" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                                <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="padding: 1px;">
                        <label asp-for="@Model.Description" class="font-weight-bold text-secondary"></label>
                        <tinymceEditor asp-for="@Model.Description" placeholder="@Model.Description"></tinymceEditor>
                        <span asp-validation-for="@Model.Description" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="@Model.Country" class="font-weight-bold text-secondary"></label>
                            <select asp-for="@Model.Country" class="form-control countries order-alpha" id="countryId">
                                <option value="">Select Country</option>
                            </select>
                            <span asp-validation-for="@Model.Country" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="@Model.Region" class="font-weight-bold text-secondary"></label>
                            <select asp-for="@Model.Region" class="form-control states order-alpha" id="stateId">
                                <option value="@Model.Region">@Model.Region</option>
                            </select>
                            <span asp-validation-for="@Model.Region" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="@Model.City" class="font-weight-bold text-secondary"></label>
                            <select asp-for="@Model.City" class="form-control cities order-alpha" id="cityId">
                                <option value="@Model.City">@Model.City</option>
                            </select>
                            <span asp-validation-for="@Model.City" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <button data-message="Are you sure you want to change this work info." onclick="TriggerModal(event)" type="submit" asp-route-id="@Model.Id" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-md-auto">
                        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-dark" role="button">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        setTimeout(function(){$('#countryId').val('@Model.Country').attr('select', 'selected'); }, 3000);
    </script>
    <partial name="_ValidationScriptsPartial" />
}
