@model CVApp.ViewModels.Resume.ResumeDisplayViewModel
@{
    var name = "";

    Dictionary<string, int> percents = new Dictionary<string, int>()
{
        { "Beginner/A1", 10},
        { "Elementary/A2", 20},
        { "Intermediate/B1", 30 },
        { "Upper Intermediate/B2", 50},
        { "Advanced/C1", 80 },
        { "Proficient/C2", 100 }
    };

    var percent = 0;
}

<div class="container">
    <div class="col-md-12">
        <h1 class="text-center">Resume</h1>
        <hr />
    </div>
    <!--Personal Info-->
    <div class="personalInfo">
        <div class="row">
            <div>
                <h2>Personal Info</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="@Model.PersonalInfo.Picture" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        @{name = Model.PersonalInfo.FirstName + " " + Model.PersonalInfo.LastName;}
                                        <p><b>Name: </b> <span>@name</span></p>
                                        <p><b>Date of birth: </b> <span>@Model.PersonalInfo.DateOfBirth</span></p>
                                        <p><b>Email: </b> <span>@Model.PersonalInfo.Email</span></p>
                                        <p><b>Phone: </b> <span>@Model.PersonalInfo.PhoneNumber</span></p>
                                        <p><b>Address: </b> <span>@Model.PersonalInfo.Address</span></p>
                                        <p><a href="@Model.PersonalInfo.RepoProfile">View my portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        About me
                                    </h5>
                                </div>
                                <p class="lead">
                                    @Html.Raw(Model.PersonalInfo.Summary)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a asp-controller="PersonalInfo" asp-action="Edit" class="btn btn-primary mt-3" role="button" aria-pressed="true">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!--Education-->
    <div class="education">
        <div class="row">
            <div>
                <h2>Education</h2>
                <hr />
            </div>
        </div>

        @foreach (var item in Model.Educations)
        {
            <div class="row">
                <div class="col-12">
                    <h4>@item.Institution - @item.Country, @item.City <small class="text-muted"><em>(@item.FromYear - @item.ToYear)</em></small></h4>
                    <h5>@item.Diploma (GPA - @item.GPA)</h5>
                    <div>@Html.Raw(item.MainSubjects)</div>
                    <div class="row">
                        <div class="col-md-6">
                            <a asp-controller="Education" asp-action="Edit" asp-route-id="@item.EducationId" class="btn btn-primary mt-3" role="button" aria-pressed="true">Edit</a>
                        </div>
                        <div class="col-md-auto">
                            <a asp-controller="Education" asp-action="Delete" asp-route-id="@item.EducationId" class="btn btn-secondary mt-3" role="button" aria-pressed="true">Delete</a>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        }
    </div>
    <!--Work-->
    <div class="work">
        <div class="row">
            <div>
                <h2>Work experience</h2>
                <hr />
            </div>
        </div>
        @foreach (var item in Model.Employments)
        {
            <dl class="row">
                <dt class="col-sm-3">Employer</dt>
                <dd class="col-sm-9">@item.Company, @item.Country, @item.City</dd>
                <dt class="col-sm-3">Job Title</dt>
                <dd class="col-sm-9">@item.Title</dd>
                <dt class="col-sm-3">Employment Period</dt>
                <dd class="col-sm-9">@item.FromYear - @item.ToYear</dd>
                <dt class="col-sm-3">Job Description</dt>
                <dd class="col-sm-9">@Html.Raw(item.Description)</dd>
            </dl>
            <div class="row">
                <div class="col-md-6">
                    <a asp-controller="Work" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mt-3" role="button" aria-pressed="true">Edit</a>
                </div>
                <div class="col-md-auto">
                    <a asp-controller="Work" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary mt-3" role="button" aria-pressed="true">Delete</a>
                </div>
            </div>
            <hr />
        }
    </div>
    <!--Skills-->
    <div class="skills">
        <div class="row">
            <div>
                <h2>Skills</h2>
                <hr />
            </div>
        </div>
    </div>
    <hr />
    <!--Languages-->
    <div class="languages">
        <div class="row">
            <div>
                <h2>Languages</h2>
                <hr />
            </div>
        </div>

        @foreach (var item in Model.Languages)
        {
            { percent = percents[item.Level]; }
            <label>@item.Name - @item.Level</label>
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: @(percent)%" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100">@(percent)%</div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a asp-controller="Language" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mt-3" role="button" aria-pressed="true">Edit</a>
                </div>
                <div class="col-md-auto">
                    <a asp-controller="Language" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary mt-3" role="button" aria-pressed="true">Delete</a>
                </div>
            </div>
        }

    </div>
    <hr />
    <!--Certificates-->
    <div class="certificates">
        <div class="row">
            <div>
                <h2>Certificates</h2>
                <hr />
            </div>
        </div>
    </div>
    <hr />
</div>

