<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CVApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" media="all" href="../wwwroot/css/print.css" />
</head>
<body>
    @model CVApp.ViewModels.Resume.ResumeDisplayViewModel
    @{
        var name = "";
        Dictionary<string, int> percents = new Dictionary<string, int>()
{
{ "Beginner/A1", 10},
{ "Elementary/A2", 20},
{ "Intermediate/B1", 30 },
{ "Upper Intermediate/B2", 50},
{ "Advanced/C1", 80 },
{ "Proficient/C2", 100 }
};

        var percent = 0;
    }

    <div class="container">
        <div class="col-xs-12">
            <h1 style="text-align:center">Resume</h1>
            <hr />
        </div>
        <!--Personal Info-->
        <div id="personalInfo">
            <h2 class="mb-3">Personal Info</h2>
            <div class="padLeft">
                @if (Model.PersonalInfo.Picture != null)
                {
                    <div class="mr-5">
                        <img src="@Model.PersonalInfo.Picture" style="width: 150px; border-radius: 50%;">
                    </div>
                }
            </div>
            <div class="mt-3 padLeft">
                @{name = Model.PersonalInfo.FirstName + " " + Model.PersonalInfo.LastName;}
                <p><b>Name: </b> <span>@name, </span><b>Email: </b> <span>@Model.PersonalInfo.Email, </span><b>Phone: </b> <span>@Model.PersonalInfo.PhoneNumber</span></p>
            </div>

            @if (!string.IsNullOrWhiteSpace(Model.PersonalInfo.RepoProfile))
            {
                <p><a href="@Model.PersonalInfo.RepoProfile">View my portfolio</a></p>
            }

            @if (!string.IsNullOrWhiteSpace(Model.PersonalInfo.Summary))
            {
                <h5 class="title-left mt-3 padLeft">About me</h5>
                <div class="wrapper padLeft">
                    @Html.Raw(Model.PersonalInfo.Summary)
                </div>
            }
        </div>
        <hr class="frame-hr" />
        <!--Education-->
        <div id="education">
            <h2 class="mb-3">Education</h2>
            <div class="padLeft">
                @for (int i = 0; i < Model.Educations.Count(); i++)
                {
                    var item = Model.Educations.ToList()[i];
                    <dl id="@item.EducationId">
                        <dt>Institution</dt>
                        <dd class="col-9 text-bold-italic">@item.Institution, @item.Country, @item.City<small class="text-muted"><em> (@item.StartDate - @item.EndDate)</em></small></dd>
                        <dt>Diploma</dt>
                        <dd class="col-9 text-bold-italic">@item.Diploma (GPA - @item.GPA)</dd>
                        <dt>Main Subjects</dt>
                        <dd class="col-9">@Html.Raw(item.MainSubjects)</dd>
                    </dl>

                    if (i != Model.Educations.Count() - 1)
                    {
                        <hr />
                    }
                }
            </div>
        </div>
        <hr class="frame-hr" />
        <!--Work-->
        <div id="work">
            <h2 class="mb-3">Work experience</h2>
            <div class="padLeft">
                @for (int i = 0; i < Model.Employments.Count(); i++)
                {
                    var item = Model.Employments.ToList()[i];
                    <dl id="@item.Id">
                        <dt>Employer</dt>
                        <dd class="text-bold-italic">@item.Company, @item.Country, @item.City</dd>
                        <dt>Job Title</dt>
                        <dd class="text-bold-italic">@item.Title</dd>
                        <dt>Employment Period</dt>
                        <dd class="text-bold-italic">@item.StartDate - @item.EndDate</dd>
                        <dt>Job Description</dt>
                        <dd>@Html.Raw(item.Description)</dd>
                    </dl>

                    if (i != Model.Employments.Count() - 1)
                    {
                        <hr />
                    }
                }
            </div>
        </div>
        <hr class="frame-hr" />
        <!--Skills-->
        <div id="skills">
            <h2 class="mb-3">Skills</h2>

            <div class="wrapper padLeft">
                @foreach (var item in Model.Skills)
                {
                    <a class="badge badge-secondary badge-font-size m-1">@item.Name</a>
                }
            </div>
        </div>
        <hr class="frame-hr" />
        <!--Languages-->
        <div id="languages">
            @if (Model.Languages.Count() != 0)
            {
                <h2 class="mb-3">Languages</h2>
                <div class="wrapper padLeft">
                    @foreach (var item in Model.Languages)
                    {
                        <div id="@item.Id" class="col-10">
                            @{ percent = percents[item.Level]; }
                            <label class="text-bold-italic">@item.Name - @item.Level</label>
                            <div class="progress mb-3">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: @(percent)%" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100">@(percent)%</div>
                            </div>
                        </div>
                    }
                </div>
                <hr class="frame-hr" />
            }
        </div>
    </div>
    <footer>
        <div class="container">
            &copy; 2019 - CVApp.Web created by Eva R.
        </div>
    </footer>
    <script>window.devicePixelRatio = 4;</script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

